html{
    position: absolute;
    width: 695px;
    height: 590px;
    border:1px solid grey;
    border-radius: 5px;
    background-color: whitesmoke;
    -moz-box-shadow: 4px 4px 10px black;
    -webkit-box-shadow: 4px 4px 10px black;
    box-shadow: 4px 4px 10px black;
}
